h1 {
  font-size: 35px;
  color: coral;
  font-family: system-ui; }

textarea {
  display: block;
  margin-bottom: 10px;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  min-height: 200px;
  font-family: system-ui;
  border: none;
  background: bisque; }

a {
  color: tomato;
  font-family: system-ui;
  font-size: 15px; }

p {
  font-size: 20px; }

button {
  color: saddlebrown;
  padding: 10px;
  border: darkorange 1px dashed;
  background: white;
  font-family: system-ui; }
